<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="title icon" type="image/png" href="media/title-img.png"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<!--    fontawesome-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    {% for home in Home_list%}
    <style>
    header {
      height: 100vh;
      background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)), url(/media/{{home.Banner}}) no-repeat center center /cover;
    }
    </style>
    {% endfor %}
    <title>Geekay Printers</title>
  </head>
  <body>

    <!-- navbar -->
    <header>
   <!-- navbar -->
   <nav class="navbar navbar-expand-lg fixed-top nav-menu">
     <a href="#" class="navbar-brand text-light text-uppercase"><span class="h2 font-weight-bold">G</span><span class="h1">K</span></a>
     <button class="navbar-toggler nav-button" type="button" data-toggle="collapse" data-target="#myNavbar">
       <div class="bg-light line1"></div>
       <div class="bg-light line2"></div>
       <div class="bg-light line3"></div>
     </button>
     <div class="collapse navbar-collapse justify-content-end text-uppercase font-weight-bold text-center" id="myNavbar">
       <ul class="navbar-nav">
         {% for Nav in Nav_list%}
         {% if Nav.HomeA %}
         <li class="nav-item">
           <a href="#" class="nav-link m-2 menu-item nav-active">{{Nav.Home}}</a>
         </li>
         {% endif %}
         {% if Nav.SecondA %}
         <li class="nav-item">
           <a href="#" class="nav-link m-2 menu-item">{{Nav.Second}}</a>
         </li>
         {% endif %}
         {% if Nav.ThirdA %}
         <li class="nav-item">
           <a href="#" class="nav-link m-2 menu-item">{{Nav.Third}}</a>
         </li>
         {% endif %}
         {% if Nav.ForthA %}
         <li class="nav-item">
           <a href="#" class="nav-link m-2 menu-item">{{Nav.Forth}}</a>
         </li>
         {% endif %}
         {% if Nav.FifthA %}
         <li class="nav-item">
           <a href="#" class="nav-link m-2 menu-item">{{Nav.Fifth}}</a>
         </li>
         {% endif %}
         {% if Nav.SixthA %}
         <li class="nav-item">
           <a href="#" class="nav-link m-2 menu-item">{{Nav.Sixth}}</a>
         </li>
         {% endif %}
         {% endfor %}
       </ul>
     </div>
   </nav>
   <!-- end of navbar -->
   {% block banner %}
   {% endblock %}
</header>

{% block body_block %}
{% endblock %}
     <!-- footer -->
  {% for foot in Foot_list%}
  <footer class="bg-dark px-5">
    <div class="container-fluid">
      <div class="row text-light py-4">
        <div class="col-lg-4 col-sm-6">
          <h5 class="pb-3">About Us</h5>
          <p class="small">{{foot.AboutUstext}}</p>
        </div>
        <div class="col-lg-2 col-sm-6">
          <h5 class="pb-3">Visit Us</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="footer-link">Home</a>
            </li>
            <li>
              <a href="#" class="footer-link">Skills</a>
            </li>
            <li>
              <a href="#" class="footer-link">Projects</a>
            </li>
            <li>
              <a href="#" class="footer-link">Team</a>
            </li>
            <li>
              <a href="#" class="footer-link">Progress</a>
            </li>
            <li>
              <a href="#" class="footer-link">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-sm-6">
          <h5 class="pb-3">Need Help?</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="footer-link text-uppercase">Customer Service</a>
            </li>
            <li>
              <a href="#" class="footer-link text-uppercase">Online Chat</a>
            </li>
            <li>
              <a href="#" class="footer-link text-uppercase">Support</a>
            </li>
            <li>
              <a href="#" class="text-info">{{foot.Email}}</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-sm-6">
          <h5 class="pb-3">Stay Connected</h5>
          <p class="small">{{foot.StayConnectedtext}}</p>
          <form class="mb-3">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Email Address">
              <div class="input-group-append">
                <button type="button" class="btn bg-danger text-white text-uppercase font-weight-bold">Suscribe</button>
              </div>
            </div>
          </form>
          <ul class="list-inline">
            <li class="list-inline-item"><i class="fab fa-facebook-square fa-2x text-primary"></i></li>
            <li class="list-inline-item"><i class="fab fa-google-plus fa-2x text-danger"></i></li>
            <li class="list-inline-item"><i class="fab fa-instagram fa-2x text-danger"></i></li>
            <li class="list-inline-item"><i class="fab fa-twitter fa-2x text-info"></i></li>
            <li class="list-inline-item"><i class="fab fa-youtube fa-2x text-danger"></i></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col text-center text-light border-top pt-3">
          <p>&copy; 2018 Copyright, All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
  {% endfor %}
  <!-- end of footer -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js'%}"></script>
  </body>
</html>
