{% extends "first_app/base.html"%}
{% block banner %}
<!-- banner -->
  {% for home in Home_list%}
    <div class="text-light text-md-right text-center banner">
        {% if home.FirstA %}
        <h1 class="display-4 banner-heading">{{home.First}}</span></h1>
        {% endif %}
        {% if home.SecondA %}
        <p class="lead banner-par">{{home.Second}}</p>
        {% endif %}
      </div>
    {% endfor %}
      <!-- end of banner -->
{% endblock %}
{% block body_block %}
    <!-- skills -->
    {% for second in Second_list%}
    <section class="bg-light p-5">
        <div class="container-fluid">
            <!-- title -->
            <div class="row">
                <div class="col text-center mb-3">
                    <h1 class="text-warning display-2">{{second.Heading}}</h1>
                    {% if second.subHeadingA %}
                    <p class="lead text-secondary">{{second.subHeading}}</p>
                    {% endif %}
                </div>
            </div>
            <!-- end of title -->
            <div class="row text-center">
                <div class="col-lg-4 col-sm-10 mx-auto mb-5">
                    <i class="fas fa-desktop fa-6x text-warning mb-3"></i>
                    <h1 class="text-secondary">{{second.div1Heading}}</h1>
                    <p class="text-muted my-4">{{second.div1SubHeading}}</p>
                    <a href="#" class="btn btn-outline-warning">{{second.div1Button}}</a>
                </div>
                <div class="col-lg-4 col-sm-10 mx-auto mb-5">
                    <i class="far fa-edit fa-6x text-warning mb-3"></i>
                    <h1 class="text-secondary">{{second.div2Heading}}</h1>
                    <p class="text-muted my-4">{{second.div2SubHeading}}</p>
                    <a href="#" class="btn btn-outline-warning">{{second.div2Button}}</a>
                </div>
                <div class="col-lg-4 col-sm-10 mx-auto mb-5">
                    <i class="fas fa-cogs fa-6x text-warning mb-3"></i>
                    <h1 class="text-secondary">{{second.div3Heading}}</h1>
                    <p class="text-muted my-4">{{second.div3SubHeading}}</p>
                    <a href="#" class="btn btn-outline-warning">{{second.div3Button}}</a>
                </div>
            </div>
        </div>
     </section>
     {% endfor %}
     <!-- end of skills -->
     <!-- projects -->
     {% for third in Third_list%}
     <section class="p-5">
        <div class="container-fluid">
            <!-- title -->
            <div class="row">
                <div class="col text-center mb-3">
                    <h1 class="text-warning display-2">{{third.Heading}}</h1>
                    <p class="lead text-secondary">{{third.subHeading}}</p>
                </div>
            </div>
            <!-- end of title -->
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                <img src="media/{{third.div1Pic}}" class="img-thumbnail">
                    <h2 class="my-3 text-warning">{{third.div1Heading}}</h2>
                    <p class="text-muted">{{third.div1SubHeading}}</p>
                </div>
                {% if third.div2Heading != "" %}
                <div class="col-lg-3 col-sm-6 mt-3">
                    <img src="media/{{third.div2Pic}}" class="img-thumbnail">
                    <h2 class="my-3 text-warning">{{third.div2Heading}}</h2>
                    <p class="text-muted">{{third.div2SubHeading}}</p>
                </div>
                {% endif %}
                {% if third.div3Heading != "" %}
                <div class="col-lg-3 col-sm-6 mt-4">
                    <img src="media/{{third.div3Pic}}" class="img-thumbnail">
                    <h2 class="my-3 text-warning">{{third.div3Heading}}</h2>
                    <p class="text-muted">{{third.div3SubHeading}}</p>
                </div>
                {% endif %}
                {% if third.div4Heading != "" %}
                <div class="col-lg-3 col-sm-6 mt-5">
                    <img src="media/{{third.div3Pic}}" class="img-thumbnail">
                    <h2 class="my-3 text-warning">{{third.div4Heading}}</h2>
                    <p class="text-muted">{{third.div4SubHeading}}</p>
                </div>
                {% endif %}
            </div>
        </div>
     </section>
     {% endfor %}
     <!-- end of projects -->

     <!-- team -->
     {% for forth in Forth_list%}
     <section class="p-sm-5 p-2 bg-secondary">
        <div class="container-fluid">
             <!-- title -->
             <div class="row">
                <div class="col text-center mb-3">
                    <h1 class="text-warning display-2">{{forth.Heading}}</h1>
                    <p class="lead text-light">{{forth.subHeading}}</p>
                </div>
            </div>
            <!-- end of title -->
            <div class="row">
                <div class="col-lg-4 col-sm-10 mx-auto mb-4">
                    <div class="card">
                        <img src="media/{{forth.div1Pic}}" class="card-img-top">
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-muted">{{forth.div1Heading}}</h3>
                            </div>
                            <div class="card-subtitle">
                                <p class="lead text-secondary">{{forth.div1SubHeading}}</p>
                            </div>
                            {% if forth.div1ButtonA%}
                            <div class="text-right">
                            <a href="#" class="btn btn-outline-danger">{{forth.div1Button}}</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if forth.div2Heading != "" %}
                <div class="col-lg-4 col-sm-10 mx-auto mb-4">
                    <div class="card">
                        <img src="media/{{forth.div2Pic}}" class="card-img-top">
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-muted">{{forth.div2Heading}}</h3>
                            </div>
                            <div class="card-subtitle">
                                <p class="lead text-secondary">{{forth.div2SubHeading}}</p>
                            </div>
                            {% if forth.div2ButtonA%}
                            <div class="text-right">
                                <a href="#" class="btn btn-outline-danger">{{forth.div2Button}}</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if forth.div3Heading != "" %}
                <div class="col-lg-4 col-sm-10 mx-auto mb-4">
                    <div class="card">
                        <img src="media/{{forth.div3Pic}}" class="card-img-top">
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-muted">{{forth.div3Heading}}</h3>
                            </div>
                            <div class="card-subtitle">
                                <p class="lead text-secondary">{{forth.div3SubHeading}}</p>
                            </div>
                            {% if forth.div3ButtonA%}
                            <div class="text-right">
                                <a href="#" class="btn btn-outline-danger">{{forth.div3Button}}</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
     </section>
     {% endfor %}
     <!-- end of team -->

     <!-- progress -->
     {% for fifth in Fifth_list%}
     <section class="p-5">
        <div class="container-fluid">
            <!-- title -->
            <div class="row">
                <div class="col text-center mb-3">
                    <h1 class="text-warning display-2">{{fifth.Heading}}</h1>
                    <p class="lead text-secondary">{{fifth.subHeading}}</p>
                </div>
            </div>
            <!-- end of title -->
            <div class="row justify-content-center">
                <div class="col-lg-6 col-sm-10 text-secondary">
                    <h2>{{fifth.FirstProgrssText}}</h2>
                    <div class="progress bg-secondary mb-3">
                        <div class="progress-bar" style="width: {{fifth.Firstpercentage}}%">
                            {{fifth.Firstpercentage}}%
                        </div>
                    </div>
                    <h2>{{fifth.SecondProgrssText}}</h2>
                    <div class="progress bg-secondary mb-3">
                        <div class="progress-bar bg-danger" style="width: {{fifth.Secondpercentage}}%">
                            {{fifth.Secondpercentage}}%
                        </div>
                    </div>
                    <h2>{{fifth.ThirdProgrssText}}</h2>
                    <div class="progress bg-secondary mb-3">
                        <div class="progress-bar bg-warning" style="width: {{fifth.Thirdpercentage}}%">
                            {{fifth.Thirdpercentage}}%
                        </div>
                    </div>
                    <h2>{{fifth.ForthProgrssText}}</h2>
                    <div class="progress bg-secondary mb-3">
                        <div class="progress-bar bg-success" style="width: {{fifth.Forthpercentage}}%">
                            {{fifth.Forthpercentage}}%
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>
     {% endfor %}
     <!-- end of progress -->
     <!-- contact -->
     {% for contact in Contact_list%}
     <section class="p-5 bg-light">
        <div class="container-fluid">
             <!-- title -->
             <div class="row">
                <div class="col text-center mb-3">
                    <h1 class="text-warning display-2">{{contact.Heading}}</h1>
                    <p class="lead text-secondary">{{contact.subHeading}}</p>
                </div>
            </div>
            <!-- end of title -->
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10">
                  {% if gotquestA %}
                    <div class="text-center text-secondary">
                        <h2>Got Question ?</h2>
                        <p>Stay Connected</p>
                    </div>
                  {% endif %}
                    <form class="text-muted">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" rows="3"></textarea>
                        </div>
                        <button class="btn btn-outline-warning btn-block" type="submit">Submit Question</button>
                    </form>
                </div>
            </div>
        </div>
     </section>
     {% endfor %}
     <!-- end of contact -->

     <!-- Thanks template -->
     <br>
     <br>
     <br>
     <br>

            <div class="row justify-content-center ">

                <h2 class="text-muted mb-4">Thanks for being with us!</h2>
                <i class="fas fa-coffee fa-3x"></i>

            </div>
    <br>
    <br>
    <br>
    <!-- end of thanks -->

{% endblock %}
